<section class="thirteen columns">
    <h1>Education</h1>
    
    <article>
        <header>
            <h1>MSc in Cognitive Neurosciences and Psychology </h1>
            <span>Goethe University, Frankfurt <time>2019 - present</time> </span>
            
        </header>
    </article>
    
    <article>
        <header>
            <h1>BSc in Psychology</h1>
            <span>Goethe University, Frankfurt <time>2015 to 2018</time> </span>
        </header>
        <p>
            <em>Thesis: 'May the power be with you: pilot data based simulations for estimating power in mixed models.'</em>
            <a href="https://github.com/DejanDraschkow/mixedpower/">https://github.com/DejanDraschkow/mixedpower/ </a>
        </p>
    </article>

</section>
