<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BSc in Psychology</h1>
            <span>Goethe University</span>
            <span><address>Frankfurt, Germany</address><time>2015 to 2018</time></span>
        </header>
        <p>
            <em>Thesis: May the power be with you: pilot data based simulations for estimating power in mixed models .</em>
            <a href="https://github.com/DejanDraschkow/mixedpower/">https://github.com/DejanDraschkow/mixedpower/ </a>
        </p>
    </article>
    <article>
        <header>
            <h1> A Levels </h1>
            <span>Community School Schuldorf Bergstraße</span>
            <span><address>Seeheim-Jugenheim, Germany</address><time>2014</time></span>
    </article>
</section>
