<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Visiting Graduate Student at Visual Attention Lab</h1>
            <span><time>July - October 2019</time></span>
            <p> Harvard Medical School & Brigham and Women's Hospital, Boston, USA. </p>
        </header>
    </article>
    <article>
        <header>
            <h1>Visiting Graduate Student at Computational Cognitive Science Lab</h1>
            <span><time>January - March 2019</time></span>
            <p> University of New South Wales, Sydney, Australia. </p>
        </header>
    </article>
    <article>
        <header>
            <h1>Contributer at <a href="https://virtualdatalab.github.io/">Virtual Data Lab</a></h1>
            <span><time>January 2019 - present</time></span>
        </header>
        <p> Assistant for establishing an open teaching <a href="https://smobsc.readthedocs.io/en/latest/">book of scientific methods</a>
          for social and cognitive sciences.</p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Research Assistant</h1>
            <span><address>Frankfurt, Germany</address><time>2016 to 2017 and 2018 </time></span>
        </header>
        <p> Research Assistant in the Fiebach Lab, a cognitive Neuroscience lab located in the department of Psychology, Goethe University Frankfurt. </p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Frankfurt, Germany</address><time>2018</time></span>
        </header>
        <p> Teaching Assistant in the Scene Grammar Lab, Goethe University Frankfurt. </p>
    </article>
</section>
