<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Visiting Graduate Student at UNSW Computational Cognitive Science Lab</h1>
            <span><address>Sydney, Australia</address><time>January - March 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Undergraduate Research Assistant</h1>
            <span><address>Frankfurt, Germany</address><time>2016 to 2017 and 2018 to present</time></span>
        </header>
        <p> Research Assistant in the Fiebach Lab, a cognitive Neuroscience lab located in the department of Psychology, Goethe University Frankfurt. </p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Frankfurt, Germany</address><time>2018</time></span>
        </header>
        <p> Teaching Assistant in the Scene Grammar Lab, Goethe University Frankfurt. </p>
    </article>
</section>
