<section class="thirteen columns">
    <h1>Funding and Scholarships</h1>
    <article>
        <p> Germany Scholarship (Deutschlandstipendium) (10/2019 - 09/2020) </p>
    </article>
    <article>
        <p> The German Academic Exchange Service (DAAD) PROMOS Scholarship (01/2019)</p>
    </article>
    <article>
        <p> The German Academic Exchange Service (DAAD) PROMOS Scholarship (07/2019)</p>
    </article>
    <article>
        <p> Goethe University Frankfurt QSL Travel Grant</p>
    </article>
</section>
