<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Student initiative Pythclub</h1>
            <span><address>Goethe University, Frankfurt</address><time>2018 to present</time></span>
        </header>
        <p>
            Co-founder of the student initiative 'Pythclub', a community for students who want to learn the programming language Python.
        </p>
    </article>
    <article>
        <header>
            <h1>Voluntary social year </h1>
            <span><address>Christoph-Graupner-Schule, Darmstadt, Germany</address><time>2014-2015</time></span>
        </header>
        <p>
            Voluntary social year at a local school for mentally and physically handicapped children. 
        </p>
    </article>
</section>
