<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Graduate Summer Student</h1>
            <span><address>University of Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>Voluntary social year </h1>
            <span><address>Christoph-Graupner-Schule, Darmstadt, Germany</address><time>2014-2015</time></span>
        </header>
        <p>
            Voluntary social year at a local school for mentally and physically handicapped children. 
        </p>
    </article>
</section>
