
<section class="thirteen columns">
    <h1>Publications & Conference Contributions</h1>
    <article>
        <p> Kumle, L., Võ, M. L-H., & Draschkow, D. (2018). Mixedpower: a library for estimating simulation-based power for mixed models in R.</p>
        <a  href="https://doi.org/10.5281/zenodo.1341047">https://doi.org/10.5281/zenodo.1341047/ </a>
    </article>
    
    <article>
        <p> Kumle, L., Võ, M. L-H., & Draschkow, D. (2020)."Simulation-based solutions for power analyses for mixed models considering by-subject and by-item variability"<i> Poster presented at V-VSS.<i> </p>
        <a  href="https://lkumle.github.io/vitae/assets/Power_Kumle_et_al.pdf"><i> Poster PDF <i></a>
    </article>
            
    <article>
        <p> Kumle, L., Võ, M. L-H., & Draschkow, D. (2020)."What you don’t see can help you: Image triage in human-AI interactions." <i>Poster presented at V-VSS.<i></p>
    </article>
            
    <article>
        <p> Leah Kumle, Dejan Draschkow & Melissa L.-H. Võ (2018), "May the power be with you: Pilot data based simulations for estimating power in mixed models" <i>Poster Presented at European Conference on Visual Perception: Trieste, Italy<i></p>
    </article>
</section>
