
<section class="thirteen columns">
    <h1>Publications & Conference Contributions</h1>
    <article>
        <p> Leah Kumle, Dejan Draschkow & Melissa L.-H. Võ (2018), "May the power be with you: Pilot data based simulations for estimating power in mixed models" Poster Presented at European Conference on Visual Perception: Trieste, Italy</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Frankfurt, Germany</address><time>2018</time></span>
        </header>
        <p> Teaching Assistant in the Scene Grammar Lab, Goethe University Frankfurt. </p>
    </article>
</section>
