
<section class="thirteen columns">
    <h1>Publications & Conference Contributions</h1>
    <article>
        <p> Kumle, L., Võ, M. L-H., & Draschkow, D. (2018). Mixedpower: a library for estimating simulation-based power for mixed models in R.</p>
        <a  href="https://doi.org/10.5281/zenodo.1341047">https://doi.org/10.5281/zenodo.1341047/ </a>
    </article>
    <article>
        <p> Leah Kumle, Dejan Draschkow & Melissa L.-H. Võ (2018), "May the power be with you: Pilot data based simulations for estimating power in mixed models" Poster Presented at European Conference on Visual Perception: Trieste, Italy</p>
    </article>
</section>
